:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url("src/assets/caution.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  width: 65%;
  margin: 40px 0px;
  padding: 40px;
}

button {
  color: black;
  font-size: 25px;
  font-weight: 700;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

button:hover {
  background-color: black;
  color: #f7c800;
  border-color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
}

.gif {
  border: 0.5px solid gray;
  background-size: contain;
  display: flex;
}

h1 {
  font-family: Graffiti-Regular;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top:0;
}

p {
  font-size: 30px;
  text-align: center;
}
