<!-- <div class="cautionSpin">
<img id="spinner" src="assets/cautionwarningsign.png"/> -->

<h1 class="heading">How Risky Are You?</h1>
<!-- <img id="spinner" src="assets/cautionwarningsign.png"/>


</div> -->
<h3 class="subHeading">Choose a quiz...</h3>

<div class="quizButtons">
  <a routerLink="/quiz/dinner"><button>DINNER WITH YOUR BOSS</button></a>

  <a routerLink="/quiz/phone"><button>4G OR NO 4G?</button></a>

  <a routerLink="/quiz/Riskybiz"><button>RISKY BUSINESS</button></a>

  <a routerLink="/quiz/drivers"><button>ROAD TEST</button></a>
</div>

<router-outlet></router-outlet>

<!-- <div class="gif">
<img src="{{stickerData[index].images.fixed_width.url}}">
</div> -->
