<h1>How Much Do You Love Life?</h1>
<h3>TAKE A QUIZ!</h3>

<div>
    <button>
        <a routerLinkActive="active" routerLink="/quiz/dinner">Dinner</a>
    </button>
    <button>
        <a routerLinkActive="active" routerLink="/quiz/phone">4G or No 4G?</a>
    </button>
    <button>
        <a routerLinkActive="active" routerLink="/quiz/Riskybiz">Risky Business</a>
    </button>
    <button>
        <a routerLinkActive="active" routerLink="/quiz/drivers">Drivers</a>
    </button>
</div>

<router-outlet></router-outlet>