<section id="whatWeDo">
    <h1 id="about">About Don't Do It</h1>
    <span class="circle1"></span>
    <span class="circle2"></span>
    <h2 id="description">
        <p>If you've ever asked yourself any of the questions below, you're in the right place!</p>
        <ul>
            <li>"What shouldn't I do at a wedding?"</li>
            <li>"Am I prepared to go out to dinner with my boss?"</li>
            <li>"What do I order on a first date?"</li>
            <li>"How do you correctly spell the word 'prescient?''"</li>
        </ul>
    </h2>
    <p id="sellingPoint">DON'T DO IT HELPS YOU IDENTIFY BAD CHOICES BEFORE YOU MAKE THEM.</p>
</section>
<section id="us">
    <h1 id="title">We're not your typical nerds</h1>
    <h2 id="title2">We're a group of dynamic, fun-loving, innovators who will thrill you!</h2>
    <section class="images">
        <div class="container1">
            <div class="team image1"></div>Sugene Mulpuri
        </div>
        <div class="container2">
            <div class="team image2"></div>Matt Martinez
        </div>
        <div class="container3">
            <div class="team image3"></div>Veronica Kizor
        </div>
        <div class="container4">
            <div class="team image4"></div>Claire Rose
        </div>
    </section>
</section>