<section id="whatWeDo">
    <h1 id="about">About Don't Do It</h1>
    <span class="circle1"></span>
    <span class="circle2"></span>
    <h2 id="description">
        For our final project, our team wanted create an app where users can have fun and positive interactive
        experience. Our app addresses
    </h2>
    <p id="sellingPoint">DON'T DO IT HELPS YOU IDENTIFY BAD CHOICES BEFORE YOU MAKE THEM.</p>
</section>
<section id="us">
    <h1 id="title">We're not your typical nerds</h1>
    <h2>We're a group of dynamic, fun-loving, innovators who will thrill you!</h2>
    <section class="images">
        <div class="container1">
            <div class="team image1"></div>Sugene Mulpuri
        </div>
        <div class="container2">
            <div class="team image2"></div>Matt Martinez
        </div>
        <div class="container3">
            <div class="team image3"></div>Veronica Kizor
        </div>
        <div class="container4">
            <div class="team image4"></div>Claire Rose
        </div>
    </section>
</section>