<h1>We're not your typical nerds</h1>
<h2>We're a group of dynamic, fun-loving, innovators who will thrill you!</h2>
<section id="about">
    <div class="container1">
        <div class="team image1"></div>Sugene Mulpuri
    </div>
    <div class="container2">
        <div class="team image2"></div>Matt Martinez
    </div>
    <div class="container3">
        <div class="team image3"></div>Veronica Kizor
    </div>
    <div class="container4">
        <div class="team image4"></div>Claire Rose
    </div>
    <h2>Here's what Don't Do It is all about</h2>
    <h1>
        For our final project, our team wanted create an app where users can have fun and positive interactive
        experience. Our app addresses
    </h1>
</section>