<div class="twoCents">
<img id="slidecaption" src="assets/goldcent.png"/>
<h1 class="heading">Two Cents</h1>
<img id="slidecaption" src="assets/goldcent.png"/>
</div>
<h3 class="subHeading">5 Things You Should Never Do At...</h3>

<!-- <div class="gif">        
<img src="{{textData[index].images.fixed_width.url}}">
</div> -->

<div class="buttonWrapper">
  <a routerLink="/topics/wedding"><button>WEDDINGS</button></a>

  <a routerLink="/topics/interviews"><button>INTERVIEWS</button></a>

  <a routerLink="/topics/firstdate"><button>FIRST DATES</button></a>

  <a routerLink="/topics/misspelled"><button>SPELLING BEEZ</button></a>
</div>

<router-outlet></router-outlet>
