header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 80px;
}

h1 {
  font-family: Graffiti-Regular;
  font-size: 32px;
}

div {
  display: flex;
}

.nav {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: "Graffiti-Regular";
  src: url("/assets/fonts/SpriteGraffiti-Regular.ttf");
}

@font-face {
  font-family: "Graffiti-Shadow";
  src: url("/assets/fonts/SpriteGraffiti-Shadow.ttf");
}

@font-face {
  font-family: "Tajawal";
  src: url("/assets/fonts/Tajawal-Light.ttf");
}
