header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

h1 {
    font-family: Graffiti-Regular;
    font-size: 22px;
}

div {
    display: flex;
}

.nav {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.nav {
    position: relative;
  }
  
  .nav::before, .nav::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color:black;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  .nav::before {
    top: 0;
    transform-origin: center right;
  }
  
  .nav:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
  
  .nav::after {
    bottom: 0;
    transform-origin: center left;
  }
  
  .nav:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
  

@font-face {
    font-family: "Graffiti-Regular";
    src: url("/assets/fonts/SpriteGraffiti-Regular.ttf");
}

@font-face {
    font-family: "Graffiti-Shadow";
    src: url("/assets/fonts/SpriteGraffiti-Shadow.ttf");
}

@font-face {
    font-family: "Tajawal";
    src: url("/assets/fonts/Tajawal-Light.ttf");
}

@media only screen and (min-width: 768px) {
    h1 {
        font-family: Graffiti-Regular;
        font-size: 32px;
    }
    header {
        margin: 0px 80px;
    }
}