<header>
  <a routerLink="/home">
    <h1>Don't Do It</h1>
  </a>
  <div class="navBar">
    <a class="nav" routerLinkActive="active" routerLink="/quiz"
      >Risk Analysis</a
    >
    <a class="nav" routerLinkActive="active" routerLink="/topics">Two Cents</a>
    <a class="nav" routerLinkActive="active" routerLink="/about">About</a>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="footerNav">
    <a class="footerLink" routerLink="/quiz">Risk Analysis</a>
    <a class="footerLink" routerLink="/topics">Two Cents</a>
    <a class="footerLink" routerLink="/about">About</a>
  </div>

  <p class="footerInfo">info@DontDoIt.dev</p>

  <div class="socialMediaIcons">
    <!-- <p>SOCIAL</p> -->
    <i class="fab fa-facebook-square fa-lg"></i>
    <i class="fab fa-twitter-square fa-lg"></i>
    <i class="fab fa-instagram fa-lg"></i>
  </div>
</footer>
