:host {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #da7701, #a42102);
}

.topicsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicsBox {
  background-color: white;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  width: 65%;
}

div.topics {
  font-weight: bold;
  font-size: 25px;
  padding: 40px 40px 40px 40px;
}
