<body>
  <div class="formWrapper">
    <form #quizForm="ngForm" (ngSubmit)="submitForm(quizForm)">
      <div class="questions" *ngFor="let question of questions; index as i">
        {{ question.question }}

        <div class="answers">
          <input
            type="radio"
            name="{{ i }}"
            value="{{ question.answer1 }}"
            ngModel
          />
          <label for="a">{{ question.answer1 }}</label>
        </div>

        <div class="answers">
          <input
            type="radio"
            name="{{ i }}"
            value="{{ question.answer2 }}"
            ngModel
          />
          <label for="b">{{ question.answer2 }}</label>
        </div>
      </div>
      <button>Submit</button>
    </form>
  </div>
</body>
