@font-face {
    font-family: "Tajawal";
    src: url("/assets/fonts/Tajawal-Light.ttf")
}

@font-face {
    font-family: "Graffiti-Regular";
    src: url("/assets/fonts/SpriteGraffiti-Regular.ttf");
}

* {
    font-family: Tajawal;
}