<section>
    <div class="overlay">
        <p id="title">DON'T DO IT</p>
    </div>
</section>

<main>
    <div class="quiz container">
        <!-- <span class="dot"></span> -->
        <p>QUIZ</p>
        <h3>Check yourself before you wreck yourself by taking our four extreme quizzes!</h3>
    </div>
    <div class="gif container">
        <img src="{{giphyData[index].images.fixed_width.url}}">
    </div>
    <div class="topics container">
        <p>TOPICS</p>
        <h3>Life Hacks 101. What NOT to do!</h3>
        <!-- <span class="dot"></span> -->
    </div>
</main>