section {
  width: 100%;
  height: 500px;
  background-image: url("src/assets/caution.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  color: white;
  font-size: 75px;
  font-family: Graffiti-Shadow;
  margin: 0;
}

#tagline {
  color: white;
  font-size: 25px;
  margin: 0;
}


img {
  width: 200px;
  height: 200px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  border: 0.5px solid gray;
  width: 425px;
  height: 425px;
}

img {
  width: 424px;
  height: 424px;
}

div.container {
  flex-direction: column;
}

h3 {
  text-align: center;
  width: 200px;
}

h1 {
  font-family: Graffiti-Regular;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: black;
  color: white;
  bottom: 0;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #title {
    font-size: 100px;
  }
}
