<section>
  <div class="overlay">
    <h1 id="title">DON'T DO IT</h1>
    <h3 id="tagline">THE WRONG WAY TO DO WHAT'S RIGHT</h3>
  </div>
</section>

<div>
  <h2 class="subHeading">Welcome</h2>
  <p id="appDescription">
    Are you a risk taker? Have fun distracting yourself from the inevitable
    void.
  </p>
</div>

<main>
  <a href="/quiz"
    ><div class="quiz container">
      <h2 class="subHeading">RISK ANALYSIS</h2>
      <p class="description">
        Check yourself before you wreck yourself by taking our four extreme
        quizzes!
      </p>
    </div></a
  >

  <div class="gif container">
    <img src="{{ giphyData[index].images.fixed_width.url }}" />
  </div>

  <a href="/topics"
    ><div class="topics container">
      <h2 class="subHeading">TWO CENTS</h2>
      <p class="description">Life Hacks 101. What NOT to do!</p>
    </div></a
  >
</main>


<footer>
  <p>The footer info goes here</p>
</footer>
