
section {
  width: 100%;
  height: 500px;
  background-image: url("src/assets/caution.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  font-size: 100px;
  font-family: Graffiti-Shadow;
}

main {
    display: flex;
    justify-content: center;
}



.gif {
    /* border-style: dashed;
    border-width: medium;
    border-color: orange; */
    border: 0.5px solid gray;
    background-size: contain;
    display: flex;
    align-items: center;

  
}

img{
    width: 200px;
    height: 200px;
    /* padding: 15px 15px 10px 15px; */
  }

.quiz {
    /* border-style: dashed;
    border-width: medium;
    border-color: blue; */
    border: 0.5px solid gray;
    width: 200px;
    height: 200px;
    /* padding: 20px; */
    
  
}

.topics {
    /* border-style: dashed;
    border-width: medium;
    border-color: green; */
    border: 0.5px solid gray;
    width: 200px;
    height: 200px;
    /* padding: 20px; */

  
}


@media only screen and (min-width: 768px) {

    main {
        display: flex;
        justify-content: center;
    }
    



}
