<section class="headingWrapper">
  <div class="overlay">
    <h1 id="title">DON'T DO IT</h1>
    <h3 id="tagline">THE WRONG WAY TO DO WHAT'S RIGHT</h3>
  </div>
</section>

<section class="wrapper">
  <h2 class="sentence">
    5 Things Not To Do In Life:
    <div class="slidingHorizontal">
      <span>Don't worry about singing in the car, just do it.</span>
      <span>Don't hold your farts in.</span>
      <span>Don't stalk your ex on Facebook.</span>
      <span>Don't stick your nose in where it doesn't belong.</span>
      <span>Don't be lazy. Unless it's the weekend. Then be lazy.</span>
    </div>
  </h2>
</section>

<div>
  <h2 class="subHeading">Welcome</h2>
  <p id="appDescription">
    Are you a risk taker? Have fun distracting yourself from the inevitable
    void.
  </p>
</div>

<main>
  <a href="/quiz">
    <div class="quiz container">
      <h2 class="subHeading">RISK ANALYSIS</h2>
      <p class="description">
        Check yourself before you wreck yourself by taking our four extreme
        quizzes!
      </p>
    </div>
  </a>

  <div class="gif container">
    <img src="{{ giphyData[index].images.fixed_width.url }}" />
  </div>

  <a href="/topics">
    <div class="topics container">
      <h2 class="subHeading">TWO CENTS</h2>
      <p class="description">Life Hacks 101. What NOT to do!</p>
    </div>
  </a>
</main>
